<p id="notice"><%= notice %></p>
<table class="table">
  <tr>
    <td>
      <p>
        <strong>User:</strong>
        <%= @event.user.id %>
      </p>

      <p>
        <strong>Name:</strong>
        <%= @event.name %>
      </p>

      <p>

      <% if current_user.voted_for? @event %>
        <%= link_to "Unlike", unlike_event_path(@event), class: 'btn btn-success' %> <br>
        Number of likes: <%= @event.get_likes.size %>
          <%= @voted_stars %>
        <% @voted_stars.each do |star| %>

            <i class="fa fa-star"></i>
          <% end %> 
      <% else %>
        <%= link_to "Like", like_event_path(@event), class: 'btn btn-success' %> <br>
        Number of likes: <%= @event.get_likes.size %>
        <% @event.find_votes_for(:vote_scope => 'rating').sum(:vote_weight) %>
      <% end %>
      </p>

      <% if !current_user.voted_for? @event %>

        <% @stars.each do |star| %>
          <%= link_to rate_event_path(@event, stars: star) do %>
            <i class="fa fa-star-o"></i>
          <% end %> 
        <% end %>
      <% end %>

      <p>
        <strong>Description:</strong>
        <%= @event.description %>
      </p>

      <p>
        <strong>Date:</strong>
        <%= @event.date %>
      </p>

      <p>
        <strong>Start time:</strong>
        <%= @event.start_time.strftime("%I:%M%p") %>
      </p>

      <p>
        <strong>End time:</strong>
        <%= @event.end_time.strftime("%I:%M%p") %>
      </p>

      <p>
        <strong>Street:</strong>
        <%= @event.street %>
      </p>

      <p>
        <strong>Suburb:</strong>
        <%= @event.suburb %>
      </p>

      <p>
        <strong>State:</strong>
        <%= @event.state %>
      </p>

      <p>
        <strong>Postcode:</strong>
        <%= @event.postcode %>
      </p>

      <p>
        <strong>Country:</strong>
        <%= @event.country %>
      </p>

      <p>
        <strong>Groups:</strong>
        <% @event.groups.each do |group| %>
          <%= link_to group.name, group, class: "btn btn-warning" %>
        <% end %>
      </p>

      <p>
        <strong>Tags:</strong>
        <% @event.tags.each do |tag| %>
          <%= link_to tag, events_path(tag:tag.name) %>
        <% end %>
      </p>

      <br>
    </td>
    

    <td>
    <img src="https://maps.googleapis.com/maps/api/staticmap?zoom=15&size=600x300&maptype=roadmap&markers=color:red%7Clabel:S%7C<%= @event.latitude %>,<%= @event.longitude %>&key=", alt="">
    </td>

    

      

    </td>
  </tr>
</table>

      

  

<%= link_to 'Edit', edit_event_path(@event) %> |
<%= link_to 'Back', events_path %>
